.root__end {
  width: 70%;
  max-width: 700px;
  padding: 1rem;
  background-color: var(--panel);
  color: var(--primary-color-purple);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.root__hero {
  width: 100%;
  margin-bottom: 0.5rem;
}
.root__nav {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
}
.root__link {
  display: block;
  height: 2rem;
  width: 2rem;
  transition: opacity 0.5s linear;
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -ms-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
}
.root__img {
  width: 100%;
  height: auto;
}
.root__panel {
  text-align: center;
}
.root__Congratulation {
  margin-bottom: 0.25rem;
}
.root__sec {
  margin-bottom: 1rem;
}
@media screen and (min-width: 370px) {
  .root__Congratulation {
    font-size: 1.8rem;
  }
  .root__paragraph {
    font-size: 1.25rem;
  }
  .root__link {
    width: 3rem;
    height: 3rem;
  }
}
@media screen and (min-width: 540px) {
  .root__Congratulation {
    font-size: 2.7rem;
  }
  .root__paragraph {
    font-size: 1.5rem;
  }
  .root__link {
    width: 3.5rem;
    height: 3.5rem;
  }
}
@media screen and (min-width: 730px) {
  .root__link {
    width: 4.5rem;
    height: 4.5rem;
  }
  .root__paragraph {
    font-size: 2.2rem;
  }
  .root__Congratulation {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1020px) {
  .root__paragraph {
    font-size: 1.5rem;
  }
  .root__link:hover {
    opacity: 0.7;
  }
}
