.root__title-resume {
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
}
.root__paragraph-resume {
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 370px) {
  .root__title-resume {
    font-size: 1.7rem;
  }
  .root__paragraph-resume {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 450px) {
  .root__paragraph-resume {
    font-size: 1.1rem;
    margin-bottom: 0.8rem;
  }
  .root__title-resume {
    font: 1.9rem;
  }
}

@media screen and (min-width: 750px) {
  .root__paragraph-resume {
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
  }
  .root__title-resume {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1000px) {
  .root__paragraph-resume {
    font-size: 1.2rem;
  }
}
